{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <ul><h2>Create User</h2></ul>#}
{#    <ul><h3> {{ error }}</h3></ul>#}
{#    <form method="POST">#}
{#        <ul><input type="text" name="username" placeholder="Username"></ul>#}
{#        <ul><input type="password" name="password" placeholder="Password"></ul>#}
{#        <ul><input type="password" name="password2" placeholder="Repeat password"></ul>#}
{#        {% csrf_token %}#}
{#        <ul><button type="submit">Create</button></ul>#}
{#    </form>#}
{#{% endblock %}#}


{% load static %}
<link type="text/css" href="{% static 'login.css' %}" rel="stylesheet">
<body>
<div class="main">
    <form method="POST">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="username" placeholder="Username" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <input type="password" name="password2" placeholder="Password" required="">
            {% csrf_token %}
            <button type="submit">Sign up</button>
            </div>
    </form>
</div>
</body>