{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart.css' %}">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.cartproduct_set.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.get_price }}</td>
                    <td>${{ item.total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td>${{ cart.get_total }}</td>
            </tr>
        </tbody>
    </table>
    <form method="POST" action="">
        {% csrf_token %}
        <button type="submit" class="order-btn">Order</button>
    </form>
{% endblock %}