{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'order_detail.css' %}">
    <div class="order-details">
        <table class="order-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.orderproduct_set.all %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ item.total }}</td>
                    </tr>
                {% endfor %}
                <tr class="total-row">
                    <td colspan="3" class="total-label"></td>
                    <td class="total-value">${{ order.total }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}