{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'order_list.css' %}">
    <div class="orders-table-container">
        <table class="orders-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    <tr>
                        <td><a href="{% url 'order_detail' item.pk %}"> {{ item.id }}</a></td>
                        <td>${{ item.total }}</td>
                        <td>{{ item.date|date:"d-M-Y" }}</td>
                        <td>
                            {% if user.is_superuser %}
                            <form method="POST" action="{% url 'delete_order' item.pk %}" style="display: inline">
                                {% csrf_token %}
                                <button type="submit" class="delete-button">Delete</button> 
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}