{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final_project</title>
    <link type="text/css" href="{% static 'base.css' %}" rel="stylesheet">
</head>
<body>
{% include 'top_header.html' %}
    {% block content %}
    {% endblock %}
    <div class="footer">
        <div class="footer-author">
            <div class="footer-author-image">
                <img src="https://cdn3.iconfinder.com/data/icons/incognito-avatars/154/man-body-hair-avatar-head-round-512.png" class="img-fluid" />
            </div>
            <div class="footer-author-details">
                <h2 class="text-uppercase footer-getintouch">Author</h2>
                <h3 class="mb-0">
                    <em>Denys Lysenko</em>
                </h3>
                <div class="footer-author-contacts d-flex align-items-center">
                    <em>lysenko.denys97@gmail.com</em>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
