<body>
<nav>
    <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id=""/>
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <div class="logo">
                <h1>Final_project</h1>
            </div>
            <div class="menu-items">
                <li><a href = '{% url 'brands_list' %}'>Brands List</a></li>
                <li><a href = '{% url 'products_list' %}'>Products List</a></li>
                {% if user.is_authenticated %}
                    User: {{ user }}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href = '{% url 'add_brand' %}'>Add brand</a></li>
                    <li><a href = '{% url 'add_product' %}'>Add Product</a></li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
</body>