.search-container {
    text-align: center;
    margin-top: 20px;
}

.search-form {
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #575656;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #575656;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    margin-bottom: 10px;
}

.no-products {
    font-style: italic;
    color: #888;
}